*{
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

#canvas{
    background: #f0f0f0;
   border-radius: 5px;
}